main{
    justify-content: unset;
    align-items: unset;
}

form{
    all: unset;
}


.container{
    width: 100%;

    display: flex;

    flex-direction: column;

    font-family: "Roboto", sans-serif;
}


/*todo o nav de cima*/

#nav_elements{
    display: flex;

    flex-flow: row wrap;

    justify-content: space-between;

    gap: 50px;
}

#nav_left_elements{
    display: flex;
    float: left;

    width: 100%;
    height: 100%;

    max-width: 350px;
    max-height: 50px;

    margin: 24px 40px 24px 50px;
}

#nav_right_elements{
    display: flex;
    float: right;

    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    align-items: baseline;
    align-content: center;
    justify-content: space-evenly;

    gap: 24px;

    margin: 24px 40px 24px 40px;
}

#logout_button {
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;

    position: absolute;
    top: 100px;
    right: 120px;
}

#logout_button img {
    width: 30px;
    height: auto;
}

/*input de pesquisa*/
.Search_Input{
    width: 100%;
    height: 100%;

    min-width: 170px;
    min-height: 6px;

    max-width: 350px;
    max-height: 50px;



    padding: 2px 0 2px 30px;

    border-style: solid;
    border-radius: 50px;
    border-width: 2px;
    border-color: #A3A3B9;

    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);

}

/*input de pesquisa da esquerda em cima*/
#Left_Search{
    display: flex;

    justify-content: start;
    align-content: start;
    align-items: start;

    text-align: start;

}


.actions_Buttons{
    font-weight: 700;
    color: white;
    text-align: center;
    justify-content: center;
    align-self: center;
    align-items: center;
    align-content: center;
    border-radius: 40px;
}

#nav_ToDoButton{
    width: 80px;
    height: 40px;

    background-color: #519FDF;
}

#nav_DoingButton{
    width: 90px;
    height: 40px;

    background-color: #FDBF46;
}

#nav_DoneButton{
    width: 80px;
    height: 40px;

    background-color: #F06A6D;
}

#nav_AddButton{
    width: 130px;
    height: 50px;

    background-color: #5B6097;
}

.to_do{
    width: 233px;
    height: 42px;
    background-color: #519FDF;
    margin-top: 10px;
    color: white;
    border-radius: 48px;
    text-align: center;
}

#done{
    background-color: #F06A6D;
}

.header_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header_content > span {
    flex:1;
}


.rows_Tasks {
    grid-template-columns: auto 1fr 1fr auto;
    gap: 1px;
    border-style: solid;
    border-width: 1px;
    border-radius: 44px;
    border-color: #A3A3B9;
    margin-top: 21px;
}

.row_Elements{
    margin: 12px 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container_Circle {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container_Circle label{
    margin-left: 10px;
}

/* Hide the browser's default checkbox */
.container_Circle input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container_Circle:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container_Circle input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container_Circle input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container_Circle .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.row_Elements > span {
    flex:1;
}

.row_Elements > div {
    flex:1;
}

#main_container{
    margin-top: 100px;
}

.table_Data{
    border-style: solid;
    border-radius: 44px;
    border-color: #A3A3B9;
}

.task_Status{
    display: flex;
    justify-content: space-between;
}

#Tasks_List{
    margin-bottom: 80px;
}

#doing  {
    background-color: #FDBF46;
}