<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: headDefault('Register Page')}"></head>
<link rel="stylesheet" th:href="@{/css/Register_Page/style2.css}">

<body>
<header th:replace="~{fragments :: header1}"></header>
<main>

  <div class="Login_Conteiner">
    <h1 class="Login_Text">Register</h1>


    <form action="/register" method="POST">
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <div style="position: relative; width: 100%;">
      <div style="position: absolute; top: 55%; transform: translateY(-50%); left: 4px;">
        <img th:src='@{/images/User_Vector.svg}'>
      </div>
      <input
              type="text"
              class="Login_Inputs"
              id="Username_Input"
              name="username"
              placeholder="Username"
      />
    </div>

    <div style="position: relative; width: 100%; margin-top:24px;">
      <div style="position: absolute; top: 55%; transform: translateY(-50%); left: 16px;">
        <img th:src='@{/images/Letter_Vector.svg}'>
      </div>
      <input
              type="email"
              class="Login_Inputs"
              id="Email_Input"
              name="email"
              placeholder="Email"
      />
    </div>

    <div style="position: relative; width: 100%; margin-top: 24px;">
      <div style="position: absolute; top: 50%; transform: translateY(-50%); left: 16px;">
        <img th:src='@{/images/PadLock_Vector.svg}'>
      </div>
      <input
              type="text"
              class="Login_Inputs"
              id="Password_Input"
              name="password"
              placeholder="Password"
      />
    </div>

    <button type="submit" id="Login_Button">Register</button>
      </form>
  </div>
</main>

<footer th:replace="~{fragments :: footerDefault}"></footer>

<script th:src='@{/js/Login_Page/script.js}'></script>
</body>
</html>
