<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: headDefault('Login Page')}"></head>
<body>
<header th:replace="~{fragments :: header1}"></header>

<main>
    <div class="Login_Container" id="Login_Container">
        <h1 class="Login_Text">Login</h1>


        <form action="/login" method="POST">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <div style="position: relative; width: 100%;">
                <div style="position: absolute; top: 55%; transform: translateY(-50%); left: 4px;">
                    <img th:src='@{/images/User_Vector.svg}'>
                </div>
                <input
                        type="text"
                        class="Login_Inputs"
                        id="Username_Input"
                        name="username"
                        placeholder="Username"

                />
            </div>


            <div style="position: relative; width: 100%; margin-top: 24px;">
                <div style="position: absolute; top: 50%; transform: translateY(-50%); left: 16px;">
                    <img th:src='@{/images/PadLock_Vector.svg}'>
                </div>
                <input
                        type="password"
                        class="Login_Inputs"
                        id="Password_Input"
                        name="password"
                        placeholder="Password"

                />
            </div>


            <button type="submit" id="Login_Button">Login</button>
            <div style="margin-top: 10px; display: flex; flex-direction:column; align-items: center; justify-content: center;">
                <a class="Login_Forgot_Password">Esqueceu a Senha?</a>
                <a class="Login_Forgot_Password" th:href="@{register}">Registrar-se</a>
            </div>
        </form>

    </div>
</main>

<footer th:replace="~{fragments :: footerDefault}"></footer>

<script th:src='@{/js/Login_Page/script.js}'></script>

<script>
    window.onload = function () {
        document.getElementById("Login_Container").scrollIntoView({ behavior: "smooth", block: "center" });
    };
</script>
</body>
</html>
