<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head('Create Enterprise')}"></head>

<link th:href="@{/css/CreateEnterprise_Page/style.css}" rel="stylesheet"/>

<body>
<header th:replace="~{fragments :: header1}"></header>
<main>
    <section class="create-enterprise"></section>
    <div class="add_ent">
        <input class="name_ent" type="text" placeholder="Nome da Empresa">
        <div class="btn_ent">
            <div class="regist_ent">Registrar</div>
            <div class="editar_ent">Editar funcionários</div>
        </div>
    </div>
</main>

<footer th:replace="~{fragments :: footerDefault}"></footer>
</body>
</html>