<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: headDefault('Edit Page')}"></head>

<link rel="stylesheet" th:href="@{/css/CreateEmployee_Page/style.css}"/>

<body>
<header th:replace="~{fragments :: header1}"></header>
<main>
    <div class="emp_area">
        <div class="add_emp">
            <div class="nome_emp">
                <input type="text" placeholder="Nome do empregado">
            </div>
            <div>
                <input type="email" placeholder="Email do empregado">
            </div>
        </div>
        <div class="add_emp">
            <div>
                <input type="password" placeholder="Senha do empregado">
            </div>
            <div>
                <input type="text" placeholder="Cargo do empregado">
            </div>
        </div>
        <div class="cad_area">
            <button class="cad_button">Cadastrar</button>
        </div>
    </div>
</main>
<footer th:replace="~{fragments :: footerDefault}"></footer>
</body>
</html>